<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <%= link_to 'rails-pycall-langchain', root_path, class: 'navbar-brand' %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <%= link_to 'Conversations', chats_path ,class: "nav-link active" %>
          </li>

          <li class="nav-item">
            <%= link_to 'Documents', documents_path ,class: "nav-link active" %>
          </li>

      </ul>

    </div>
  </div>
</nav>
